{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}

{% block page-title %}{% trans 'Organizations' %}{% endblock %}

{% block head %}
    <a class="btn btn-success btn-raised" href="{% url 'organization-add' %}">{% trans 'New' %} {% trans 'Organization' %}</a>
{% endblock %}

{% block content %}

    {% load pagination_tags %}
    {% load sorting_tags %}
    {% load filters %}




    <div class="adv-table">

       <!--  <div class="row-fluid">
            <div class="span6">
                <div class="dataTables_length" id="dynamic-table_length">
                    <label>
                        <select aria-controls="dynamic-table" class="form-control" size="1" name="dynamic-table_length">
                            <option selected="selected" value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select> 
                        records per page
                    </label>
                </div>
            </div>
            <div class="span6">
                <div id="dynamic-table_filter" class="dataTables_filter">
                    <label>
                        Search: <input aria-controls="dynamic-table" class="form-control" type="text">
                    </label>
                </div>
            </div>
        </div> -->

        {% autosort object_list as sorted_objects %}
        {% autopaginate object_list 25 as paginated_objects %}

        <table class="table table-striped" id="dynamic-table1">
            <thead>
            <th>Name</th>
            <th>{% anchor address _('Address') %}</th>
            <th>{% anchor phone _('Phone') %}</th>
            <th>{% anchor email _('Email') %}</th>
            <th>{% anchor fax _('Fax') %}</th>
            <th>{% anchor website _('Website') %}</th>
            <th>{% anchor is_active _('Status') %}</th>
            </thead>
            <tbody>
            {% for obj in paginated_objects %}
                <tr>
                    <td>
                        <a href="{% url 'organization-edit' obj.pk %}">{{ obj.name }}</a>
                    </td>
                    <td>
                        {{ obj.address }}
                    </td>
                    <td>
                        {{ obj.phone }}
                    </td>
                    <td>
                        {{ obj.email }}
                    </td>
                    <td>
                        {{ obj.fax }}
                    </td>
                    <td>
                        {{ obj.website }}
                    </td>
                    <td>
                        {{ obj.is_active|activeness }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
  

        {% paginate %}

    </div>



{% endblock %}