{% extends "bcss_base.html" %}
{% load i18n %}

{% block page-title %}{{ scenario }} {% trans 'Organization' %}{% endblock %}

{% block head %}
    <a href="{% url 'organization-list' %}">{% trans 'Organizations' %}</a>
{% endblock %}
<!-- {% block breadcrumbs %}
    <li><a href="{% url 'organization-list' %}">{% trans 'Organizations' %}</a></li>
    <li>{{ scenario }} {{ form.instance }}</li>
{% endblock %} -->

{% block content %}
<!-- <li><a href="{% url 'organization-list' %}">{% trans 'Organizations' %}</a></li> -->
    <div class="row">
            <div class="col-lg-12">
                    <section class="panel">
                        
                        <div class="panel-body">
                            <div class="position-center">
                                <form role="form">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Password</label>
                                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputFile">File input</label>
                                        <input type="file" id="exampleInputFile">
                                        <p class="help-block">Example block-level help text here.</p>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Check me out
                                        </label>
                                    </div>
                                    <button type="submit" class="btn btn-info">Submit</button>
                                </form>
                            </div>

                        </div>
                    </section>

            </div>
            
    </div>

    <form method="post" id='form'>
        <div class="">
            {{ form.non_field_errors }}
            {{ form.errors }}
            {% csrf_token %}
             {{ form.media }}
            {{ form.as_p }}
        </div>

        <input type="submit" class='btn btn-info btn-raised' value="{% trans 'Save' %}">

        {% if form.instance.id %}
            <a href="{% url 'organization-delete' form.instance.id %}" class="btn btn-danger btn-raised">{% trans 'Delete' %}</a>
        {% endif %}
    </form>

    

{% endblock %}
