{% extends "registration.html" %}
{% load staticfiles i18n filters %}

{% block content %}
<style>
.registration__action.passwordreset__action.btn-primary {
    margin-top: -3px;
    padding: 3px;
    float: right;
}
.btn-secondary {
    background-color: #868e96;
    border-color: #868e96;
}
.form-signin a, .form-signin a:hover {
    color: #ffffff;
    margin-top: -5px;
    padding: 4px;

}
#my_form p label
{
display: none;
}
#my_form p input{
    position: relative;
    font-size: 16px;
  
    padding: 10px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 42px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  

</style>
<body class="login-body">
  <div class="container">
      
              <form method="post" class="form-signin" action=".">
              <div class="login-heading-with-image">
                <img class="form-signin-heading-img" src="{{STATIC_URL}}images/logo1.png" / >
                <!-- <h2 class="form-signin-heading">sign in now</h2> -->
              </div>
              <div class="login-wrap">
                <div class="user-login-info">
                {% csrf_token %}
               
                
                <p class="alert-error"
                   role='alert'></p>
                {{ form.non_field_errors }}
                <p>{{ form.email.errors.as_text }}</p>
                <p>
                  <label for="id_email"></label>
                  <input type="email" class="form-control" id="id_email" maxlength="100" name="email" placeholder="User Email" value="{{ email }}" autofocus>
               </p>
                        
              </div>
                <a class="passwordreset__cancel btn btn-secondary" href="/">Cancel</a>
                <input type="submit" value="Reset Password" class="registration__action passwordreset__action btn-primary" >
         
              </form>
              </div>
         
</div>
</body>
<script>
  $(function () {
    $('form.registration input#id_email').attr('placeholder', 'Email');
    $('form.registration p label').addClass('hidden');
  });
</script>
{% endblock %}
