{% extends "registration.html" %}
{% load staticfiles %}

{% block content %}
<!-- <style>

  .body{
    text-align: center;
  }

  .warning{
    border-radius: 50% !important;
    background: rgba(255, 247, 247, 0.51) !important;
    padding:3px !important;
    margin: 0px 7px 0px 5px !important; 
  }

  .head{
    background: #f54242;
    padding: 7px 0px 7px 3px;
  }

  .head-text{
    color: white;
    font-weight: 600;
    margin-left: 21px;
  }
  .body>h2{
    font-weight: 700;
  }

  .form-div input{
    width: 100%;
    margin-bottom: 5px;
    padding:8px;
  }

  .btn-primary{
    font-weight: 700;
    background: #488bec !important;
    border-color: #488bec !important;
  }

  .lock{
    font-size: 70px;
  }

</style>
 -->
<body class="login-body">

    <div class="container">

      <form method="post" action=".">
        <div class="login-heading-with-image">
          <img class="form-signin-heading-img" src="{{STATIC_URL}}images/logo1.png" / >
          <!-- <h2 class="form-signin-heading">sign in now</h2> -->
        </div>
        <div class="login-wrap">
            <div class="user-login-info">
              {% csrf_token %}
              {{ form.as_p }}
            </div>

            <input type="submit" value="Reset Password" class="registration__action passwordreset__action btn-primary" >
                    
            <a class="passwordreset__cancel btn btn-danger" href="/">Cancel</a>
            <div style="clear:both"></div>
        </div>
        
          
      </form>

    </div>

</body>
{% endblock %}
{% block footer %}
 {{ block.super }}
<script>
  $(function () {
    $('form.registration input#id_email').attr('placeholder', 'Email');
    $('form.registration p label').addClass('hidden');
  });
</script>
{% endblock footer %}