{% extends "registration.html" %}
{% load staticfiles %}

{% block content %}
<style>

  .body{
    text-align: center;
  }

  .warning{
    border-radius: 50% !important;
    background: rgba(255, 247, 247, 0.51) !important;
    padding:3px !important;
    margin: 0px 7px 0px 5px !important; 
  }

  .head{
    background: #f54242;
    padding: 7px 0px 7px 3px;
  }

  .head-text{
    color: white;
    font-weight: 600;
    margin-left: 21px;
  }
  .body>h2{
    font-weight: 700;
  }

  .form-div input{
    width: 100%;
    margin-bottom: 5px;
    padding:8px;
  }

  .btn-primary{
    font-weight: 700;
    background: #488bec !important;
    border-color: #488bec !important;
  }

  .lock{
    font-size: 70px;
  }

</style>
<div class="container1">
      <div class="box-display row">
          <div class="head ">
            <h4 class="head-text"><i class="fa fa-exclamation-triangle warning" aria-hidden="true"></i>Your password has expired</h4>
          </div>

          <div class="body col-sm-offset-3 col-sm-5">
          <span class="lock"><i class="fa fa-lock" aria-hidden="true"></i></span>

            <h2>Reset your password</h2>
            <hr style="border-top: 1px solid #e4d6d6;">
           
            <h5>Enter your email adress below , and we'll send instructions for setting a new one. </h5>
              <div class="col-sm-12 form-div">
              <form method="post" action=".">
                {% csrf_token %}
                {{ form.as_p }}

                <input type="submit" value="Reset Password" class="registration__action passwordreset__action btn-primary" style="font-weight: 700" />
                
                <a class="passwordreset__cancel btn btn-danger" href="/">Cancel</a>
                <div style="clear:both"></div>

              </form>
              </div>
          </div>

      </div>
</div>

<script>
  $(function () {
    $('form.registration input#id_email').attr('placeholder', 'Email');
    $('form.registration p label').addClass('hidden');
  });
</script>
{% endblock %}
